<div>
    <h1> مرحبًا بكم، الصفحة الرئيسية</h1>
    <% if user_signed_in? %>
        <%= button_to('Logout', destroy_user_session_path, class: '', method: :delete) %>
    <% else %>
       <%= button_to('Login', new_user_session_path, class: '') %>
    <% end %>

</div>
